version: "3.7"

services:

  mongo:
    image: 'mongo:4.4.6'
    volumes: 
      - ./database:/data/db 
    restart: always

  flask:
    build: ./backend
    container_name: backend
    restart: always
    environment:
      - APP_NAME=MyFlaskApp
    expose:
      - 8080
  
  frontend:
    build: frontend
    container_name:  frontend
    restart: always
    environment:
      - NODE_OPTIONS=--openssl-legacy-provider  
    #  mount the volumes so we can change code and hot reload
    volumes:
        - './frontend:/frontend'

    #  port allows the host machine to link to container
    #  8000 for vue ui, 5000 for our vue app
    ports:
        - "8000:8000"
        - "5000:5000"

  nginx:
    build: ./nginx
    container_name: nginx
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - flask
      - frontend

