body {
	background-color: #f4f4f4;
    color: #555555;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    line-height: 1.6em;
    margin: 0;
}

ul{
    list-style-type: none;
    width: 200%
}

li{
    list-style-type: '➡️' ;
    padding-left: 10px;
    padding-bottom: 15px;
}

.navbar {
    color: #f4f4f4;
    background-color: #333953;
    height: 75px;
    border: 5px;
    margin-top: -21px;
    font-size: smaller;
    padding-left: 1em;
}

.container-explanation{
    margin: left;
    width: 50%;
    padding: 10px;
}

.container-decryption{ 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333953;
    color: white;
    text-align: center;
  }
