body {
	background-color: #f4f4f4;
    color: #555555;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    line-height: 1.6em;
    margin: 0;
}

ul{
    list-style-type: none;
    width: 200%
}

li{
    list-style-type: '➡️' ;
    padding-left: 10px;
    padding-bottom: 15px;
}

.navbar {
    color: #f4f4f4;
    position: relative;
    background-color: #333953;
    min-width: none;
    height: 75px;
    margin-top: -21px;
    font-size: smaller;
    padding-left: 1em;
}

.container-explanation{
    margin: left;
    width: 50%;
    padding: 10px;
}

.container-decryption{ 
    float: left;
    top: 100%;
    width: 32%; 
    border: 10px;
    margin-right: 2%; 
    padding: 20px; 
    box-sizing: border-box; 
}

.container-tasks:last-child{
    position: fixed;
    white-space: pre;
    margin-right: 0;
    top: 100%;
    width: 32%; 
    border: 10px;
    margin-right: 2%; 
    padding: 20px; 
}

.footer {
    position: fixed;
    min-width: none;
    bottom: 0;
    width: 100%;
    background-color: #333953;
    color: white;
    text-align: center;
  }
