body {
	background-color: #f4f4f4;
    color: #555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 35%;
    margin: auto;
}

.box-1 h1{
    border-right: 5px;
    border-left: 5px;
    border-top: 1000px;
    border-bottom: 5px; 

    border: 100px;
    border-width: 100px;


    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.25em;
}
