/* Adds a simple white container */
.placeholder {
    background-color:transparent;
    padding: 5px;
    }

/* Adds a big container around the tasks */
.row {
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 140 * 5px;
}

.column {
    width: auto;
    padding: 1%;
    text-align: center;
}

.card {
    width: 120px;
    height: 120px;
}

/* Style simple text */    
.txt-center{
    text-align: justify; 
    padding: 0px 30px;
}

/* Adds a grey background color to the top navigation */
.navbar {
    background-color: #333953;
    overflow: hidden;
    justify-content:left;
  }
    /* Style the links inside the navigation bar */
    .navbar a {
        color: #FFFFFF;
        padding: 14px 16px;
        font-size: 17px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    /* Change the color of links on hover */
    .navbar a:hover {
        color: #007bff; 
        text-decoration: none;
    }

/* Adds a button*/
.btn-router{
    background-color:transparent;
    border-color: #333953;
    border-width: 3px;
    border-radius: 0.25rem;
    font-size: 17px;
    cursor: pointer;
    }

/* Change the color of the button on hover */    
.btn-router:hover {
    text-decoration: none;
    background-color: #333953;
    } 

/* Styles the routerlink inside the button */    
.btn-router a{
    text-decoration: none;
    color: #333953;
    padding: 0.5rem 1rem;
    } 

/* Change the color of the routerlink inside the button */    
.btn-router a:hover {
    text-decoration: none;
    color: #ffffff;
    } 


/* Style of the restart-button */
.button{
    background-color: #333953;
    color: #FFFFFF;
    border-color: #333953;
    border-width: 3px;
    border-radius: 0.25rem;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
}
/* Change the color of the button on hover */    
.button:hover {
    text-decoration: none;
    background-color: #007bff;
    border-color: #007bff;
    color: #FFFFFF;
    } 

/* Style the time-bar */
.round-time-bar {
    margin: 0px 30px 10px 30px;
    overflow: hidden;
    background-color:#d2d2d2;
  }
  .round-time-bar div {
    height: 7px;
    animation: roundtime calc(var(--duration) * 1s) linear forwards;
    transform-origin: left center;
    background: linear-gradient(to right, #333953,#007bff);
  }  
  @keyframes roundtime {
    to {
      /* More performant than `width` */
      transform: scaleX(0);
    }
  }

  /* Style the game-board */
  .board {
    margin: 30px;
    border: 3px solid black;
    padding: 30px 30px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    width: 140 * 5px; 
  }

